# VS Code specific
.vscode/

# Python bytecode and cache
__pycache__/
*.py[cod]

# Virtual environments
venv/
env/

# Distribution / packaging
build/
dist/
*.egg-info/

# Log files
*.log

# Jupyter Notebook checkpoints (if using Jupyter)
.ipynb_checkpoints/

# OS-specific files (e.g., for macOS)
.DS_Store